<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.myweb.rest.IWeatherMapper">

	<select id="getCoord" resultType="map">
		SELECT * FROM
    		(
    		SELECT ROWNUM AS rn, nx, ny 
   			FROM test_location
    		WHERE area1 = #{area1}
    		AND area2 LIKE '%' || #{area2} || '%'
    		)
		WHERE ROWNUM = 1
	</select>
	
	<!--  경도 위도의 위치를 받아 왔을 때 근사치로 데이터를 찾아서 보내준다.
	SELECT * FROM
	    (
	    SELECT * FROM test_location
	    ORDER BY ABS(latitude - 37.5621181) + ABS(longitude - 126.9428028)
	    )
	WHERE ROWNUM = 1;
	 -->





</mapper>





